@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital@1&display=swap');




.border-secondary .m-auto, .ms-2{
    cursor: pointer;
}

.bg-dark {
    background-color:dimgray;
     color:white;
     
    }

.bdr {
    border-radius: 10px;
    overflow: auto;
    border-left: 1px solid #6c757d;
    margin: auto;
    margin-top: 250px;
}

h1{
    margin: auto;
    padding-top: 100px;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: bold;
}

.fa-search{
    cursor: pointer;
    color: #0d6efd;
}